.loading {
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
	background: url(../images/loading.gif) no-repeat center center;
}

.loading.hide {
	display: none;
}

#ipods {
	position: absolute;
	width: 640px;
	height: 378px;
	top: 44%;
	left: 50%;
	margin: -189px 0 0 -320px;
}