.loading {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
	background: url(../images/loading.gif) no-repeat center center;
}

#ipods {
	position: absolute;
	width: 640px;
	height: 378px;
	top: 44%;
	left: 50%;
	margin: -189px 0 0 -320px;
}

a.gh {
	font-family: "Georgia";
	font-size: 26px;
	color: #333;
	background: url(../images/github-logo.png) no-repeat right center;
	padding-right: 40px;
	text-decoration: none;
	display:inline-block;
	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -110px;
}